<html lang = "en">
 <head >
    <title>HTML Elements Reference</title>
 </head>
 <body>
<h1>For the most admirable boy in my life: Faheem ❤️‍🔥</h1>
<p> I made this website for you to look at when you need reassurance or are simply missing me! ❤️‍🩹</p>
 <h2>So first... a quick gallery of your favorite pics of us! </h2>

 <div class = "pictures" >
  <div class="gallery">
    <a target="_blank" href="../assets/pic1.jpg">
      <img src="../assets/pic1.jpg" alt="pic1" width="600" height="400">
    </a>
    <div class="desc">A wonderful day, playing tennis together, I beat you so easily 🥹</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../assets/pic2.JPG">
      <img src="../assets/pic2.JPG" alt="pic2" width="600" height="400">
    </a>
    <div class="desc">Us getting ready for my birthday dinner which was so yummy! Thank you for taking me out! 🎂</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../assets/pic8JPG.JPG">
      <img src="../assets/pic8JPG.JPG" alt="pic8" width="600" height="400">
    </a>
    <div class="desc">Thrifting this for you was important because it shows that I am constantly thinking of you always. I'm geniunely obbessed with you my love. I'm so proud of you for getting into UCSC and I can't wait for you to suceed from there! </div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../assets/pic4.JPG">
      <img src="../assets/pic4.JPG" alt="pic4" width="600" height="400">
    </a>
    <div class="desc">Sitting up here waiting for the stars to show up, but your already the biggest star in my life! 🌠</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../assets/pic5.JPG">
      <img src="../assets/pic5.JPG" alt="pic5" width="600" height="400">
    </a>
    <div class="desc">My faheem and I graduated high school together! I cannot wait for our college grad together as well.I'll always be there to support you for your dreams, goals, and education! </div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../assets/pic6.JPG">
      <img src="../assets/pic6.JPG" alt="pic6" width="600" height="400">
    </a>
    <div class="desc">My lover and I both wearing white! matchy matchyy! 🤍 </div>
  </div>
  <div class="gallery">
    <a target="_blank" href="../assets/pic7.JPG">
      <img src="../assets/pic7.JPG" alt="pic7" width="600" height="400">
    </a>
    <div class="desc">I love this pic because you have posted it before and I loved being showed off by you! Also I love this red tank you got me! my fav.❤️</div>
  </div>
 
 </div>

 <div class=" container">
  <h1> Now Let's Review Our Favorite Songs: </h1>
  <div class="row1" >
    <div class ="column1" >
      <div class="song1">
        <a target="_blank" href="../assets/aphro.PNG">
          <img src="../assets/aphro.PNG" alt="songone" width="300" height ="600" >
        </a>
      </div>
    <div class = "column2" >
      <div class="desc1" style ="position: auto; right: 100px; top:20px;">What you said about this song: It reminds you of me! Because you think I'm a goddess which is so baby. 
        What I think about in this song: I love the line that says: "If I can have this dance tonight, I promise that you won't forget..." I love this line because
        it reminds me of hoco and senior ball, but simply just dancing with you randomly and making a promise to each other that we will be life changing to each other. 
        On top of that, while this song is about a female love and beauty goddess, in my eyes you are a love and beauty god. The love you shower me in his beautiful and 
        enlightening and you simply have made me a happier person. I wake up happy to be alive, to live another day being yours. You are beauty and your handsome features 
        lure me everyday. I love your beautiful smile and eyes. Your smooth olive skin tone with pinks makes me think you are a piece of art. You are truly a beauty god! :)
      </div> 
    </div>
    </div>
    <div class ="column3" >
      <div class="song2">
        <a target="_blank" href="../assets/song2.PNG">
          <img src="../assets/song2.PNG" alt="songtwo" width="300" height ="600" >
        </a>
      </div>
    <div class = "column4" >
      <div class="desc2" > What you said about this song: This song reminded you of all those times laying in each other bedroom and the sun was slipping in a basking in 
        the sun together while being in each other arm. What I think about in this song: I love his song because it reminds me of the feeling I get when I'm sbout to get to
         your house and finally see you. I love laying in bed with you because you always hold me so dearly and I geniunely feel special and loved when I'm in your arms. I love 
         how the song has this line: "since I've been here shit's been simple, public displays of admiration..." because when I spent time with you all my worries disappear and 
         I feel bliss in my life which is so beautiful and only with you. On top of that you show me so much pda, even when I'm annoying and try to get you to stop... I secretly 
         LOVE it.
      </div> 
    </div>
    </div>
  </div>
  <div class="row2" >
    <div class = "column1" >
      <div class = "song3">
        <a target="_blank" href="../assets/cinderella.PNG" >
          <img src = "../assets/cinderella.PNG" alt = "songthree" width = "300" height = "600" >
        </a> 
      </div>
    <div class = "column2"  >
      <div class = "desc3" > What you said about this song: You said you like the line "Man I swear the parents just don't understand
        You ain't gotta be old to be a man" This is so important to us because we both are so in love but it's so hard sometimes. But I would never let external forces get between
      us. We have fallen in love so quickly for the past year and half, and I know for a fact we both are going to slip into trances of more love everyday, every year, every decade.
     Even though we are young, (you are a little baby...happy birthday finally you're legal...) I know you are mature enough to be considered a man. My man! You will always be mature 
     in my eyes, because in all our agruements, you are ready to talk and move on healthily and keep our relationship going. What I think about in this song: I like the line about 
     "come with meeee..." because I would blindly follow you anywhere because I trust you with all my heart.   </div>
    </div>
  </div>
  <div class ="column3" >
    <div class="song2">
      <a target="_blank" href="../assets/bubblegum.PNG">
        <img src="../assets/bubblegum.PNG" alt="songthree" width="300" height ="600" >
      </a>
    </div>
  <div class = "column4" >
    <div class="desc4" >What you said about this song: um.. we both know what you say this snog reminds you of... heart shaped... love! heh
      What I think of this song: I love this song because when he talks about mixing colors, being blue, and the girl being red, and creating purple:
      this reminded me of how we like painting and drawing together. I love colors and I truly believe you brought colors more life.
      When I see colors in my life, they have become more vibrant every since you entered my life. I like the line: "we could hold hands until we're dead..."
      because I want to be buried next to you and essentially live my life along yours. I also love the line: "your lips so numb I can't feel your kisses..." because I love 
      when you kiss me so passionately and hard that I'm just melting into you and your sofy baby boy plump lips! This song basically feels like our love just tangled up with each 
      other, sharing and recreating daydreams: they are always magical. 
    </div> 
  </div>
  </div>
  </div>

  <div class="row3" >
    <div class = "column1" >
      <div class = "song5">
        <a target="_blank" href="../assets/allmine.PNG" >
          <img src = "../assets/allmine.PNG" alt = "songfive" width = "300" height = "600" >
        </a> 
      </div>
    <div class = "column2" >
      <div class = "desc5" > This song is so important to me because my hoco poster was with this poster and that was duch as fun night. I loved how we left early and just um.. stayed
        in your car being in love and shi. I remember how you were in so awe with me and how I looked and you made me feel beautiful. thank you so much for helping my self eestem ever since 
        got engaged to you heh. You have constantly told me I'm pretty and loveable I want to thank you for being my support system. I also love this song because it's possessive and you know 
        how much I love when you get possesive. It makes me feel good that you want me and that you don't want anyone else to have me or see me or kiss me, it's just so romantic and I think the 
      same thing. I want to keep you all to myself and have the rest of my life with you because you are such a special person to me and always my best friend.</div>
    </div>
  </div>
  <div class ="column3" >
    <div class= "song6" >
      <a target="_blank" href="../assets/summer.PNG">
        <img src="../assets/summer.PNG" alt="songsix" width="300" height ="600" >
      </a>
    </div>
  <div class = "column2" >
    <div class = "desc5" > THIS IS OUR SONGG. ok i remember in junior year when you told me this song remind you of me and we weren't dating yet I LITERALLY told all my friends and I was 
      like he loves me!! I have always wanted you and I was so happy when you said this song reminded you of me because like this is the most romantic song. I love how during this summer we 
      would chill in your room and literally just stare into each others eyes and tell one another that we love each other and how important we are in each other's life. I love the line "I wrote you a
       poem for your surprise, it's right by your side", I think this is cute because I want to write you more poems and also just reminds me of us drawing and leaving art for each other. Thank you for
       sharing my love for art and I hope when we get older we can put up beautiful art in our house. ALSO I want to go to Paris with you because I know you will love it and I can take you to get macroons
       and eat so much yummy french food. I love you and I can't wait to travel with you. 
    </div>
  </div> 
</div>
</div>
</div>

<div class = " container2" >
 <h1> Some More Cute Photos and Memories! </h1>
<div class = "row11">
  <div class = column11>
    <div class = carpic>
      <a target="_blank" href="../assets/car.JPG">
        <img src="../assets/car.JPG" alt="carpic1" width="450" height ="650" >
      </a>
    </div>
  </div>
  <div class = "column22" >
    <div class = "desc22" style ="position: auto; right: 50px; top:20px;" >                       
      Just us hugging in front of nikita car which is important because like.. our first date was in there
    and it is a staple location in our relationship. I love our double dates because it was our first date together and I was so shy that I was like... maybe
  I should have nikita with me because no way I will not be nervous around this fine man. Like geniunely you still give me butterflies when you look at me a certain way... 
  you still COMPLETE control over me and you always will. Probably because you have stolen my heart from me and I want you to keep it forrever. 
Anyways, I remember on the second double date me and nikita were talking about how we didn't want to eat noodles in front of you guys, and I was like, I don't want him to see me 
eat! LMAO now I will literally droll in front of you while I munch on some VERY yummy spicy ramen. OMG my mouth is watering just thinking about that ramen. It is so fun just watching
some tv on your couch while eating some good ramen. We should do more dates like that on a gloomy cold day, make some good food, and watch some tv. Doesn't that sound nice? Just me 
and my chocolate flavored baby cuddled up in a blanket AND YOU HAVE TO FEEL COLD I DONT CARE WE NEED TO CUDDLE. I love you faheem. </div>
  </div>
</div>
<div class = "row33">
  <div class = column11>
    <div class = >
      <a target="_blank" href="../assets/sillyprak.JPG">
        <img src="../assets/sillyprak.JPG" alt="sillyprak" width="400" height ="650" >
      </a>
    </div>
  </div>
  <div class = "column22" >
    <div class = "desc77" style ="position: auto; right: 50px; top:20px;" >Ok bruh this video that you made with this picture like the one where you said "subway character" 
    LIKE THAT MAKES ME LAUGH SO MUCH I'm making that face that you make fun of, the one I make when I about to laugh. ok bitch, I'm trying to hold it in, and you literally 
  bully it OUT OF ME UGHH. But anyways you are always making me laugh, it's so fun to dress up in your clothing and seeing how silly I look in it. I love sharing clothes because
 it's like having a second wardrobe. Thank you for all the clothes you give me, I literally have 15 pieces of your clothing and I literally do not plan on giving any of it back.
hehe I love you so much silly baby boy. Also I love giving you all my clothes you can keep them as long as you want, you can keep them forever. What I want to do is move in together
and I find my clothing in your box of clothing. does that make sense, like my clothing is clothing, my stuff is your stuff, my life is your life. IT'LL BE SO CUTEEE. Anyways I just 
wanted to say that you always make me laugh and when I'm giggling with you I feel high and in love with you 10 times more. You are my light and you give me energy when you make me laugh.
watchin your face slip into a smile, makes me break into a smile. Thank you for making me so fucking happy faheem.  </div>
  </div>
</div>
<div class = "row44">
  <div class = column18>
    <div class = carpic>
      <a target="_blank" href="../assets/boba.JPG">
        <img src="../assets/boba.JPG" alt="carpic1" width="450" height ="650" >
      </a>
    </div>
  </div>
  <div class = "column22" >
    <div class = "desc77" style ="position: auto; right: 50px; top:20px;" > Our matching nails and boba drinks was the cutest thing ever! I loved painting your nails because you have
    the most beautiful hands I have ever seen. I know we make fun of youur among us fingers, but you truly have the prettiest nails. I enjoued painting on yourtiny little canvas AKA Your
  baby nails hehe. I also liked how you were prasing my nsil painting skills and you were geniunely impressed with me. I think impressing you is all I live for. I love when you praise me 
and become suprised I can do something. I just want to show off to you and make you proud. Thank you for supporting me and always telling me my art is impressive even when it isn't. 
It truly makes a difference for me and keeps me motivated. I will always motivate you as well and supoort your hopes and dreams. Also I'm glad you showed me the taro drink and shared something
with me that you enjoy. Being part of the tiny things that make you happy makes me happy. Please continue to share the little foods, jewelry and clothes you see online that make you happy, because
I love knowing what excites you. Also the taro boba drink is so good. I love it and we should get it together again. The pretty lavender color reminds of our love in the spring time, something
light and beautiful, something fresh and keeps me alive. (I'm talking about our love lol).</div>
  </div>
</div>
<div class = "row67">
  <div class = column18>
    <div class = carpic>
      <a target="_blank" href="../assets/moon.JPG">
        <img src="../assets/moon.JPG" alt="carpic1" width="450" height ="650" >
      </a>
    </div>
  </div>
  <div class = "column44" >
    <div class = "desc77" style ="position: auto; right: 50px; top:20px;" > For the last image, I wanted to talk about the amount of love I have for you. This is a picture you sent me, at the beach in santa cruz
    I believe. When you sent me this, all I could think of was how much I wish I was with you here, staring at the moon and the stars reflecting their light upon the dark intense sky. I love you from the moon and back.
  I love how the moon and the stars are so far apart but at the same time they look so close from our small perspective. That's how I think we are. We could be really far from each other but our love is still so strong and 
immense for each other that distance doesn't matter. The sky always looks pretty with the moon and the stars, it makes the sky complete. Just like in our life, I am the stars and you are the moon and together we light up our life
our skies together. Falling in love with you has kept me the happiest girl and I will continue to fall for you as long as the stars and moon light up the sky. I can't wait to sit here, fall into this image and sit on the beach, the sand
tickling our legs, the ocean crashing back and forth in a rhythmic motion. We can play with each other hands, tracing our soft fingers, and you can put your beautiful hands on my cold neck, and kiss me as long as you want.
you can melt your pink lips into mine, kiss me for as long as the ocean keeps slamming into the sand and the moon's light illuminates your face.  </div>
  </div>
</div>
</div>







</body> 
</html>


<router-outlet> </router-outlet>


